header nav li {
  display: block;
  width: 100%;
  text-align: center;
}

header nav li a {
  text-align: center;
  margin-right: 0;
}

.icon,
.logo {
  text-decoration: none;
}

@media only screen and (min-width: 38em) {

  header nav li {
    display: inline;
    width: 100%;
  }

}
