.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-dark {
  background-color: var(--color-primary-dark);
  border-color:  var(--color-primary-dark);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}
