:root {
  --color-primary: #f4da40;
  --color-secondary: #d7c53b;
  --color-accent: #fff;
  --color-neutral-beige: #000;
  --color-whatever: #494947;
  --font-primary: "Asap", sans-serif;
}

html {
  font-family: var(--font-primary);
}
